@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 393px);
        padding-right: calc(50% - 393px);
    }
    .season-game {
        padding-top: 179px;
        padding-top: 51px;
        padding-bottom: 85px;
        &__box {
            padding-bottom: 64px;
            display: flex;
            align-items: flex-start;
        }
    }
}
@media (min-width: 768px) and (max-width: 833px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }
    .game-box {
        justify-content: center;
    }
    .season-game {
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 179px;
        padding-top: 51px;
        padding-bottom: 85px;
        &__box {
            padding-bottom: 64px;
            display: flex;
            align-items: center;
        }
    }
}

@media (max-width: 767px){
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .top-box{
        height: 735px;
        text-align: center;
        &__title {
            padding-top: 238px;
            font-size: 32px;
            line-height: 39px;
        }
        &__text {
            padding-bottom: 32px;
            font-size: 14px;
            line-height: 22px;
        }
    }
    .game-box {
        justify-content: center;
    }
    .season-game {
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 179px;
        padding-top: 51px;
        padding-bottom: 85px;
        &__box {
            padding-bottom: 64px;
            display: flex;
            align-items: center;
        }
        &__img_go {
            width: 344px;
            height: 236px;
        }
        &__title {
            font-size: 32px;
            line-height: 39px;
        }
        &__text {
            font-size: 14px;
            line-height: 22px;
        }
    }
}