$color-text: #FFF;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
}
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.top-box {
    height: 1024px;
    background-image: url(../img/home.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1024px;
    &__title {
        padding-top: 217px;
        padding-bottom: 32px;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        color: $color-text;
    }
    &__text {
        padding-bottom: 44px;
        color: $color-text;
        font-size: 18px;
        font-weight: 300;
        line-height: 32px;
        &_brighter {
            font-weight: 700;
        }
    }
    &__button {
        color: $color-text;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        width: 234px;
        height: 48px;
        border-radius: 30px;
        border: none;
        background: rgb(156, 3, 50);
        transition: all 0.5s;
        &:hover {
            cursor: pointer;
            background: rgb(235, 68, 63);
        }
    }
}
.game-box {
    background: rgb(0, 9, 21);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 32px;
    padding-top: 128px;
    padding-bottom: 128px;;
    &__img {
        position: relative;
        min-height: 300px;
        min-width: 379px;
        transition: all 0.5s;
        &:hover {
            border: 3px solid rgb(68, 210, 255);
            border-radius: 16px;
        }
        &_1 {
            border-radius: 16px;
        }
        &_2 {
            border-radius: 16px;
        }
        &_3 {
            border-radius: 16px;
        }
    }
    &__text {
        position: absolute;
        bottom: 32px;
        left: 32px;
        border-radius: 30px;
        color: $color-text;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        cursor: pointer;
    }
}

.season-game {
    background: rgb(0, 9, 21);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 233px;
    padding-bottom: 233px;
    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
    }
    &__title {
        color:  $color-text;
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
    }
    &__text {
        color: $color-text;
        font-size: 18px;
        font-weight: 300;
        line-height: 32px;  
    }
    &__button {
        color: $color-text;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        width: 234px;
        height: 48px;
        border-radius: 30px;
        border: none;
        background: rgb(156, 3, 50);
        transition: all 0.5s;
        &:hover {
            cursor: pointer;
            background: rgb(235, 68, 63);
        }
    }
    &__img {
        &_go {
            width: 485px;
            height: 333px;
        }
    }
}

.words-game {
    background: rgb(0, 9, 21);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 233px;
    padding-bottom: 233px;
    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
    }
    &__title {
        color:  $color-text;
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
    }
    &__text {
        color: $color-text;
        font-size: 18px;
        font-weight: 300;
        line-height: 32px;  
    }
    &__button {
        color: $color-text;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        width: 234px;
        height: 48px;
        border-radius: 30px;
        border: none;
        background: rgb(156, 3, 50);
        transition: all 0.5s;
        &:hover {
            cursor: pointer;
            background: rgb(235, 68, 63);
        }
    }
    &__img {
        &_go {
            width: 485px;
            height: 333px;
        }
    }
}
@import 'mobile';