* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top-box {
  height: 1024px;
  background-image: url(/img/home.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1024px;
}
.top-box__title {
  padding-top: 217px;
  padding-bottom: 32px;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  color: #FFF;
}
.top-box__text {
  padding-bottom: 44px;
  color: #FFF;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
}
.top-box__text_brighter {
  font-weight: 700;
}
.top-box__button {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  width: 234px;
  height: 48px;
  border-radius: 30px;
  border: none;
  background: rgb(156, 3, 50);
  transition: all 0.5s;
}
.top-box__button:hover {
  cursor: pointer;
  background: rgb(235, 68, 63);
}

.game-box {
  background: rgb(0, 9, 21);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 32px;
  padding-top: 128px;
  padding-bottom: 128px;
}
.game-box__img {
  position: relative;
  min-height: 300px;
  min-width: 379px;
  transition: all 0.5s;
}
.game-box__img:hover {
  border: 3px solid rgb(68, 210, 255);
  border-radius: 16px;
}
.game-box__img_1 {
  border-radius: 16px;
}
.game-box__img_2 {
  border-radius: 16px;
}
.game-box__img_3 {
  border-radius: 16px;
}
.game-box__text {
  position: absolute;
  bottom: 32px;
  left: 32px;
  border-radius: 30px;
  color: #FFF;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  cursor: pointer;
}

.season-game {
  background: rgb(0, 9, 21);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 233px;
  padding-bottom: 233px;
}
.season-game__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}
.season-game__title {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
}
.season-game__text {
  color: #FFF;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
}
.season-game__button {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  width: 234px;
  height: 48px;
  border-radius: 30px;
  border: none;
  background: rgb(156, 3, 50);
  transition: all 0.5s;
}
.season-game__button:hover {
  cursor: pointer;
  background: rgb(235, 68, 63);
}
.season-game__img_go {
  width: 485px;
  height: 333px;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .season-game {
    padding-top: 179px;
    padding-top: 51px;
    padding-bottom: 85px;
  }
  .season-game__box {
    padding-bottom: 64px;
    display: flex;
    align-items: flex-start;
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .game-box {
    justify-content: center;
  }
  .season-game {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 179px;
    padding-top: 51px;
    padding-bottom: 85px;
  }
  .season-game__box {
    padding-bottom: 64px;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top-box {
    height: 735px;
    text-align: center;
  }
  .top-box__title {
    padding-top: 238px;
    font-size: 32px;
    line-height: 39px;
  }
  .top-box__text {
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 22px;
  }
  .game-box {
    justify-content: center;
  }
  .season-game {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 179px;
    padding-top: 51px;
    padding-bottom: 85px;
  }
  .season-game__box {
    padding-bottom: 64px;
    display: flex;
    align-items: center;
  }
  .season-game__img_go {
    width: 344px;
    height: 236px;
  }
  .season-game__title {
    font-size: 32px;
    line-height: 39px;
  }
  .season-game__text {
    font-size: 14px;
    line-height: 22px;
  }
}/*# sourceMappingURL=style.css.map */